html { height: 100% }

body {
    height: 100%;
    margin: 0;
    padding: 0
}

#map-canvas { height: 100% }

body.loading { /*used to display the loading icon*/
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   loadingicon element will be visible */
body.loading .loadingicon {  /*used to display the loading icon*/
    display: block;
}

.loadingicon {  /*used to display the loading icon*/
    display:    none;
    position:   fixed;
    z-index:    996;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;

    background: rgba( 255, 255, 255, 0 )
                url('../img/loading.png')
                50% 50%
                no-repeat;
    background-size: 80px 80px;

    -moz-animation: 1s rotateRight infinite linear;
    -webkit-animation: 1s rotateRight infinite linear;
}

@-moz-keyframes rotateRight{ /*used to display the loading icon*/
    0%{ -moz-transform:rotate(0deg); -moz-transform-origin:50% 50%; }
    50%{ -moz-transform:rotate(360deg); }
}

@-webkit-keyframes rotateRight{ /*used to display the loading icon*/
    0%{ -webkit-transform:rotate(0deg); -webkit-transform-origin:50% 50%; }
    100%{ -webkit-transform:rotate(360deg); }
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}
.title {
  font-size: 6vmin;
}

.font {
  font-size: 4vmin;
}

.but {
  margin-top: 3%
}

.fontBig {
  font-size: 8vmin;
}

.footer {
  margin-bottom: 1:
}

.menuNav {
  height: 15vmin;
}

.fontmenu {
  font-size: 3vmin;
}

.navMenu {
  max-height: 16vmin;
}

.logoMenu {
  width: 10vmin;
}

.frame {
  width: 100%;
  overflow:hidden;
}

.bars {
  width: 13vmin;
  height: 10vmin;
}

.sizeMenu {
  max-height: 12vmin;
}

.sizeInput {
  font-size: 6vmin;
}

.loginButton {
    margin: 5vh 0vmin 0vmin 0vmin;
  background-color: #448AFF !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: 4vmin;
}

.buttonPosition {
  position: fixed;
  padding: 0;
  width: 100%;
  margin-left:0;
  bottom: 6vmin;
  left:0;
}

.logo {
  width: 9vmin;
  height: 8vmin;
}

#menuMobile {
  font-size: 2.1vh;
  width: 100%;
  background-color: #B3E5FC;
}

.barBlue {
    height: 10vmin !important;
  position: fixed;
  width: 100%;
  background-color: #0288D1 !important;
  z-index: -1;
}

.barBlack {
  height: 5vmin !important;
  position: fixed;
  margin-top: 10vmin;
  width: 100%;
  background-color: #03A9F4 !important;
  z-index: -1;
}

##map-canvas {
  height:100%;width:100%;overflow-y:hidden;
}

body {
  overflow: hidden;
}

.watsonChat {
  font-size: 3vmin;
  height: 56vmin;
  overflow: scroll;
  overflow-x: hidden;
}

.watsonChat::-webkit-scrollbar {
     display: none;
}

.scroll::-webkit-scrollbar {
   display: none;
 }

.msgIbm {
  background-color: #03A9F4;
  border-radius: 20px;
  padding: 2%;
}

.userChat {
  font-size: 3vmin;
}

.msgUser {
  border: 1px 1px 1px  #03A9F4;
  background-color: #B3E5FC;
  border-radius: 20px;
  padding: 2%;
}

.blockChat {
  position: fixed;
  padding: 0;
  width: 100%;
  height: 20vmin;
  margin-left:0;
  bottom: 20vmin;
  border-radius: 20px;
  left:0;
  font-size: 4vmin;
}

.fontEmergency {
  font-size: 3vmin;
}

.a {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 50px;
  padding: 0;
}
